---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Athletic Lockers- Top 3 Ways of Ensuring we are free from Infections',
  description: 'Athletic Lockers- Top 3 Ways of Ensuring we are f ree from Infections   As hockey players, cleanliness of your gear is paramount. A great and easy way to dry an',
  category: 'Uncategorized',
  datePublished: '2017-04-25',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'athletic-lockers-disinfection',
  wordCount: 572
};

const content = `<h1><span style="font-weight: 400;">Athletic Lockers- Top 3 Ways of Ensuring we&nbsp;are f<img class="size-medium wp-image-163 alignright" src="http://customsportslockers.com/wp-content/uploads/2016/03/Semi-1-200x300.jpg" alt="sports lockers disinfection" width="200" height="300">ree from Infections</span></h1>
&nbsp;

<span style="font-weight: 400;">As hockey players, cleanliness of your gear is paramount. A great and easy way to dry and organize your hockey equipment is with our hockey lockers. Keeping the lockers clean creates an environment free from bacteria which may cause infections. Why this is important is because some of this bacteria that grows in an unclean environment is harmful and could affect you or your child’s health. Some infections show signs immediately, and others take time before the symptoms are visible.</span>
<h2>Athletic Lockers disinfection ideas</h2>
<span style="font-weight: 400;">There are basic methods of maintaining cleanliness:</span>

&nbsp;
<ul>
 	<li><span style="font-weight: 400;"> Ensuring that cuts are well bandaged</span></li>
 	<li><span style="font-weight: 400;"> Regularly washing your hands</span></li>
 	<li><span style="font-weight: 400;"> Keeping your uniform regularly cleaned and disinfected</span></li>
 	<li><span style="font-weight: 400;"> Avoid sharing of towels</span></li>
</ul>
&nbsp;

<span style="font-weight: 400;">These precautions ensure basic levels of cleanliness are maintained although these practices may not be enough to ensure the environment is free from bacteria. Here are three proven ways to keep your hockey equipment clean:</span>

&nbsp;
<ol>
 	<li><span style="font-weight: 400;"> Do away with all trash in your locker.</span></li>
</ol>
&nbsp;

<span style="font-weight: 400;">Leaving trash in your <a href="http://customsportslockers.com/athletic-lockers/">athletic locker</a> looks bad and is ripe for bacteria. Take a minute to clean up your sports locker- everyone around you will appreciate it.</span>

&nbsp;
<ol start="2">
 	<li><span style="font-weight: 400;"> Keep Stinking gear out of your sports locker.</span></li>
</ol>
&nbsp;

<span style="font-weight: 400;">Avoid keeping dirty socks, shoes, shin pads, helmets and elbow pads stored in the compartment of the <strong>athletic lockers</strong>. Either wash them or spray them down with a disinfecting spray. Dirty, stinky items in your wood locker can be very infectious.</span>

&nbsp;
<ol start="3">
 	<li><span style="font-weight: 400;"> Disinfect your locker</span></li>
</ol>
&nbsp;

<span style="font-weight: 400;">Get rid of the unwanted items from your wood locker and ensured the items to be stored inside are clean. The last step is to disinfect your athletic lockers by cleaning it up and wiping it down, preferably with a disinfecting spray. We have a previous blog post on how to keep your hockey equipment clean using a homemade disinfecting spray- you can read about it <a href="http://customsportslockers.com/2017/04/23/sport-equipment-storage/">here</a>.</span>

&nbsp;
<h2><span style="font-weight: 400;">Bottom Line for keeping your sports equipment storage locker clean</span></h2>
&nbsp;

<span style="font-weight: 400;">Following this steps will ensure you and your teammates are well protected from harmful bacteria that could cause complications.</span>

&nbsp;

<span style="font-weight: 400;">PlayerStall gives you a variety of <em>sports locker</em> solutions to choose from- whether you are an amateur or professional team. Keep sports gear off the floor-. PlayerStall is the best drying rack in the market and can be used in all environments whether it's for schools, arenas, field houses and training facilities. If you are looking for a <a href="http://customsportslockers.com/sports-equipment-storage/">sports equipment storage</a> unit for your young athlete, our mudroom lockers will keep the house and garage neat and tidy.</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

