---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Athletic Lockers- Learn How to Wash Your Equipment Without Damaging It',
  description: 'Athletic Lockers- Learn How to Wash Your Equipment Without Damaging It Are you looking for a sports equipment storage solution that is tailored to ensure all yo',
  category: 'Athletic Lockers',
  datePublished: '2017-04-29',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'athletic-lockers-dont-damage-equipment',
  wordCount: 668
};

const content = `<h1><span style="font-weight: 400;">Athletic Lockers- Learn How to Wash Your Equipment Without Damaging It</span></h1>
<span style="font-weight: 400;">Are you looking for a sports equipment storage solution that is tailored to ensure all your hockey gear drys fast? PlayerStall<strong> Athletic Lockers</strong> design is ideal for storage, organization and as a sports equipment drying rack. Despite the drying process being first and most important part in keeping your sports equipment healthy, it is not enough to eliminate fungus, mold, and unpleasant smells. This article is going to teach you how to clean your sports equipment without damaging it and leave it fresh and free of harmful bacteria.</span>

&nbsp;
<h2><span style="font-weight: 400;">Washing your Sports Equipment</span></h2>
&nbsp;
<ul>
 	<li><span style="font-weight: 400;"> Put your shoulder pads, elbow pads and shoulder pads in your washing machine. Set the Cycle speed on “Gentle”.</span></li>
</ul>
&nbsp;
<ul>
 	<li><span style="font-weight: 400;"> Ensure you have closed all the Velcro enclosures before you start the cycle to avoid the equipment from being caught on anything while it washes.</span></li>
</ul>
&nbsp;
<ul>
 	<li><span style="font-weight: 400;"> Note that if you’re using a top loading machine, you will need to remove all the laces first, add the detergent and then start the machine.</span></li>
</ul>
&nbsp;
<ul>
 	<li><span style="font-weight: 400;"> After the washing part is over, you need to put your socks, jerseys and other base layers in the machine. Why is this important? It is to ensure Velcro from your other gear does not cause any damage to this items. Also, remember to turn your clothes with logos inside out.</span></li>
</ul>
&nbsp;
<h2><span style="font-weight: 400;">Cleaning your Shin guards</span></h2>
&nbsp;

<span style="font-weight: 400;">Shin guards can cause some odor due to the sweating while playing. However, to protect your shin guards, don’t wash them with the washing machine because they may get destroyed from banging in the machine as a result of the spin cycle. Instead;</span>

&nbsp;
<ul>
 	<li><span style="font-weight: 400;"> Add Warm water in your bath tab </span></li>
 	<li><span style="font-weight: 400;"> Add some disinfectants and laundry detergent in your bath tab</span></li>
 	<li><span style="font-weight: 400;"> Let them soak.</span></li>
 	<li><span style="font-weight: 400;"> Rinse them with clean water</span></li>
</ul>
&nbsp;
<h2><span style="font-weight: 400;">Drying using your Athletic Lockers</span></h2>
&nbsp;

<span style="font-weight: 400;">The last process of the cleaning process is the drying part. For better results avoid the dryer and instead use our wood lockers to assist you to easily hang and organize your equipment after washing them. This ensures that every time you need to go for practice; your equipment is clean, fresh and free from any infections. We have a previous post that shows you how to create your own disinfecting spray so you can spray down your sports equipment when you don't have time to wash it- you can read it <a href="http://customsportslockers.com/2017/04/23/sport-equipment-storage/">here</a>.</span>

[caption id="attachment_477" align="alignright" width="149"]<img class=" wp-image-477" src="http://customsportslockers.com/wp-content/uploads/2016/03/Athletic-Locker-2b-169x300.jpg" alt="football locker" width="149" height="264"> sports locker[/caption]

<span style="font-weight: 400;">Any of our <strong>athletic lockers</strong> are perfectly suited to be used as a drying rack. Our <em>sports lockers</em> are the most durable <a href="http://customsportslockers.com/">wood lockers</a> on the market, hands down! Whether you are looking for hockey lockers, football lockers, or mudroom lockers to keep your garage neat and organized, PlayerStall Wood Lockers are an affordable choice. Feel free to check out our competitors and their specs, and you will see that not only do we use the thickest and sturdiest materials, but we beat anybody on price. </span>

&nbsp;

<span style="font-weight: 400;">If you have a school, college or professional team and are contemplating some locker room lockers, give us a call and we will send you our Team Discount price list which offers steep discounts on our sports lockers.</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Athletic Lockers', 'Sports Lockers']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

