---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Tired of cheap lockers?',
  description: 'Tired of that Flimsy Sports Locker ? Switch to PlayerStall Sports Locker!   Storing and organizing your kid’s sports equipment can be a real pain. To avoid thos',
  category: 'Uncategorized',
  datePublished: '2017-09-29',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'cheap-lockers',
  wordCount: 347
};

const content = `<span style="font-weight: 400;">Tired of that Flimsy <strong>Sports Locker</strong>? Switch to PlayerStall Sports Locker!</span>

&nbsp;

<span style="font-weight: 400;">Storing and organizing your kid’s sports equipment can be a real pain. To avoid those last minute expeditions of finding that missing shin pad,choose a better <em>sports equipment storage</em> solution. Sport Lockers keep all your gear dry and organized so its ready to go when you are!</span>

&nbsp;

<span style="font-weight: 400;">Avoid those flimsy Sport Locker companies out there that charge an arm and a leg for their cheap lockers. Our athletic locker has a rigid design using ¾” wood- our wood lockers are unmatched for quality and price. At PlayerStall, our sports locker will change the way you think about storing your sports equipment. We have a variety of sports locker models that are perfect as <a href="http://customsportslockers.com/mudroom-lockers/">mudroom lockers</a>, entryway lockers, bedroom lockers or any type of home locker.</span>

&nbsp;

<span style="font-weight: 400;">Whether you are a parent or a coach looking for a football locker, hockey locker, soccer locker or any <img class="size-medium wp-image-211 alignright" src="http://customsportslockers.com/wp-content/uploads/2016/03/CL1buBfWwAAYclA-300x225.jpg" alt="athletic locker room" width="300" height="225">type of <strong>sports locker</strong>, we have you covered. Ask us about our team locker discounts that we give to teams that are looking to transform their old locker room into a pro locker room.</span>

&nbsp;

<span style="font-weight: 400;">At PlayerStall, our mission is to give the highest quality sports locker for the best price. We have been making the best wood lockers in the industry for a long time and continue to provide the best athletic locker on the market. If you are looking for lockers for sale, you have come to the right place.</span>

&nbsp;

<span style="font-weight: 400;">Feel free to call us anytime to discuss which sports locker option is the best sports equipment storage solution for you. Check out our <a href="http://customsportslockers.com/gallery/">locker room gallery</a> and our<a href="http://facebook.com/playerstallsports/"> Facebook</a> page to see some the recent locker room projects we have completed.</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

