---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Come see our latest Sports Locker Rooms we have done!',
  description: 'Custom Sports Locker Rooms [embed]https://www.youtube.com/watch?v=Rp6iqtv6ZQU[/embed] We custom design locker rooms for Amateur and Professional Sports teams al',
  category: 'Uncategorized',
  datePublished: '2017-04-08',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'come-see-latest-sports-locker-rooms-done',
  wordCount: 104
};

const content = `<h1>Custom Sports Locker Rooms</h1>

[embed]https://www.youtube.com/watch?v=Rp6iqtv6ZQU[/embed]

We custom design locker rooms for Amateur and Professional Sports teams all over North America. If you are looking for that recruiting edge, give us a call and we will custom design your room free of charge. Our lockers look great and are built to last. We back up that promise with a 5 year warranty on all our sports lockers. <a href="http://customsportslockers.com/gallery/">Click here</a> to see some of the recent projects we have completed.

Click here to <a href="http://customsportslockers.com/sports-lockers/">see our lineup</a>. Contact us directly for our Team Order Discount price list.`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

