---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Stinky Football Gear?',
  description: 'Stinky Football Gear? We have the solution! Football Lockers.   Football Lockers are the answer! Everybody who plays sports knows that horrid stink that your sw',
  category: 'Uncategorized',
  datePublished: '2017-05-16',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'football-lockers-stinky-football-gear',
  wordCount: 406
};

const content = `<h2><span style="font-weight: 400;">Stinky Football Gear? We have the solution! Football Lockers.</span></h2>
&nbsp;

<span style="font-weight: 400;"><strong>Football Lockers</strong> are the answer! Everybody who plays sports knows that horrid stink that your sweaty football equipment has after a couple days sitting in the garage after a game. We know it just comes with the territory, and instead of fixing the problem, we usually just jam it back in the bag and deal with it another time. Curling it in a ball in your bag or in your trunk is not helping anyone… except bacteria. Instead of creating a stench and a bacterial nightmare, hang your gear in PlayerStall’s <em>football lockers.<img class="alignright wp-image-693 size-medium" src="http://customsportslockers.com/wp-content/uploads/2017/04/football-locker-mudroom-locker-300x200.jpg" alt="athletic locker football lockers" width="300" height="200"></em></span>

&nbsp;

<span style="font-weight: 400;">When you play, you sweat. All that sweat is soaked up by your football equipment. You take it, throw it in your bag, and now the bacteria is ready to turn into a stinky monster. Bacteria loves the dark, hot and moist environment of your bag and its ready to set up shop.</span>

<span style="font-weight: 400;">A quick and easy solution is to clean your gear, which we discuss<a href="http://customsportslockers.com/2017/04/25/athletic-lockers-disinfection/"> here</a>, and hang it up in one of our football lockers. A big pain for Mom is to get their kids to organize their gear and to keep it dry. <a href="http://customsportslockers.com/football-lockers/">Football lockers</a> are the perfect solution. Your equipment will stay dry and your kids will want to hang their sports equipment just like the pros! Proper drying will make your sports equipment last longer, smell better and will help stop bacteria from getting out of control.</span>
<span style="font-weight: 400;">PlayerStall has a bunch of options for football lockers. You can check out some of the recent projects <a href="https://www.facebook.com/playerstallsports/">here</a>. Our solid design ensures that our football lockers will last a lifetime, and they look great too! PlayerStall <strong>Sports Lockers</strong> is the market leader in football lockers, hockey lockers, mudroom lockers, or any other wood lockers that you can imagine. If you need garage lockers, we got them. Looking for bedroom lockers, lockers for home or mudroom storage lockers? Playerstall is where to buy sports lockers. Our quality is unmatched in the industry and thats why we back it up with a 5 year warranty. If you are looking for high quality cheap lockers, give us a call anytime and we will help you out.</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

