---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Quality Wood Lockers to make your Life easier',
  description: 'Have you ever thought of using wood lockers to help organize your sports equipment? Which parent doesn’t love scrambling before the game looking for your kids m',
  category: 'Uncategorized',
  datePublished: '2017-11-03',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'quality-wood-lockers-make-life-easier',
  wordCount: 295
};

const content = `Have you ever thought of using wood lockers to help organize your sports equipment? Which parent doesn’t love scrambling before the game looking for your kids missing glove and skates? If you love smelly, unorganized sports equipment, don’t<em> buy lockers</em>.

&nbsp;

<span style="font-weight: 400;">PlayerStall Sports Lockers specialize in making a parent’s life easier. We receive tons of emails from parents who have bought a<em> wood locker</em> from us. Parents love the ease of construction, its sturdy design and great looks. Set up <strong>wood lockers</strong> in your garage and never have to look for missing equipment again! </span>

<img class="alignnone size-medium wp-image-882" src="http://customsportslockers.com/wp-content/uploads/2017/11/Wood-Lockers-UBC-300x300.jpg" alt="wood lockers" width="300" height="300">

<span style="font-weight: 400;">Many parents have their kids get ready in the garage before the game so they don’t have to wait around while their kid gets dressed. Our wood locker will have all their sports equipment aired out and ready to go. Get yourself a kids locker from PlayerStall Athletic Lockers and save yourself the agony.</span>

&nbsp;

If you look around the wood locker industry, you will see that most of the lockers are cheap lockers from overseas. PlayerStall makes its wood lockers here in North America. We use ¾” Cabinet grade wood for our athletic locker, which the competition can’t match. Compare our prices too- nobody can compete with us when it comes to sports locker. Visit our <a href="http://facebook.com/playerstallsports/">facebook</a> page or our <a href="http://customsportslockers.com/gallery/">gallery</a> to see what we can do for you! If you need a sports locker, we are the top choice. Whether you are looking for bedroom lockers, mudroom lockers, hockey lockers or any kind of <strong>wood locker</strong>- come to PlayerStall to see our <strong>lockers for sale</strong>.`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

