---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Simple Tips to keep your Sports Equipment in Top Shape',
  description: 'Keep your Sports Equipment in Top shape with these simple Tips   If you are an athlete, you need your equipment to be strong and durable to keep you safe during',
  category: 'Uncategorized',
  datePublished: '2017-07-23',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'simple-tips-keep-sports-equipment-top-shape',
  wordCount: 340
};

const content = `<h2><span style="font-weight: 400;">Keep your Sports Equipment in Top shape with these simple Tips</span></h2>
&nbsp;

<span style="font-weight: 400;">If you are an athlete, you need your equipment to be strong and durable to keep you safe during the game or during workouts. There are a few things you can do to make sure your equipment is in good shape and ready to do the job when you are.</span>

&nbsp;
<h3><span style="font-weight: 400;">Pads</span></h3>
&nbsp;

<span style="font-weight: 400;">Pads are one of the most important pieces of equipment that any athlete needs. Inspect them before you hit the field or rink and make sure they aren’t fray, ripped or smelly. Use a wood locker to store your gear after the game to prevent bacteria and mold forming on your pads.</span>

&nbsp;
<h3><span style="font-weight: 400;">Helmet</span></h3>
&nbsp;

<span style="font-weight: 400;">Your helmet is also a great place for bacteria to gather. All the heat and sweat during the game creates microbes that can multiply quickly. Place the helmet on one of the shelves of a sports lockers to air it out.<a href="http://customsportslockers.com/athletic-lockers/"> Athletic lockers</a> will keep them dry and ready to go.</span>

&nbsp;
<h3><span style="font-weight: 400;">Gloves</span></h3>
&nbsp;

<span style="font-weight: 400;">Hang those gloves up to get them dry. Using one of the hooks in the<strong> wood lockers</strong> will keep them organized and dried out.</span>

&nbsp;
<h3><span style="font-weight: 400;">Cleats<img class="size-medium wp-image-848 alignleft" src="http://customsportslockers.com/wp-content/uploads/2017/06/Mudroom-Locker-1-225x300.jpg" alt="mudroom lockers" width="225" height="300"></span></h3>
&nbsp;

<span style="font-weight: 400;">Our seat compartment in the sports locker will keep them organized so you aren’t spending all morning looking for them.</span>

&nbsp;

<span style="font-weight: 400;"><a href="https://www.facebook.com/playerstallsports/">PlayerStall Wood Lockers </a>are a perfect compliment for any athlete looking to keep their gear oragnized and dry. We have many options of <strong>sports lockers</strong>; whether you are looking for mudroom lockers, sports lockers, athletic lockers or , we have got what you need.</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

