---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Sports lockers to upgrade your locker room',
  description: 'PlayerStall sports lockers have been helping teams for decades to upgrade their locker room. Having helped over 500 teams across North America, we are proud on ',
  category: 'Uncategorized',
  datePublished: '2023-02-14',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'sports-lockers-to-upgrade-your-locker-room',
  wordCount: 234
};

const content = `<!-- wp:paragraph -->
<p>PlayerStall sports lockers have been helping teams for decades to upgrade their locker room. Having helped over 500 teams across North America, we are proud on being the low cost, highest value manufacturer of wood lockers in the industry. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If your team is budget conscious, PlayerStall wood lockers are your solution to upgrade your room while not breaking the bank.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":1170,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://customsportslockers.com/wp-content/uploads/2023/02/Wood-Lockers-UBC-1024x1024.jpg" alt="" class="wp-image-1170"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Unlike other manufacturers out there, our wooden lockers are made with full 3/4" cabinet grade plywood. Our classically designed wood lockers will look good for decades, and its robust design will ensure that they last decades too.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Feel free to take a look at some of our recent projects in our <a href="https://customsportslockers.com/gallery/">gallery</a> or go to our <a href="https://www.facebook.com/playerstallsports/">facebook</a> page to get an idea of what to expect from us. We fully custom size the lockers to fit your locker room perfectly.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you are interested in upgrading your locker room, feel free to fill out a form and we will send you a layout. Also, feel free to call our toll free phone number anytime to talk us about how we can help. </p>
<!-- /wp:paragraph -->`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

