---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Sports Lockers- The Complete Sports Equipment Storage Solution',
  description: 'Sports Lockers- The Complete Sports Equipment Storage Solution   Sports Lockers are the easiest way to keeping your sports equipment dry and organized. Place yo',
  category: 'Sports lockers',
  datePublished: '2017-05-01',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'sports-lockers-complete-storage-solution',
  wordCount: 439
};

const content = `<h1><span style="font-weight: 400;">Sports Lockers- The Complete Sports Equipment Storage Solution</span></h1>
&nbsp;

<span style="font-weight: 400;">Sports Lockers are&nbsp;the easiest way to keeping your sports equipment dry and organized. Place your wood locker in the garage so when you get home, you can quickly unzip your bag, hang your gear, and it’s ready to go when you are! Not only does PlayerStall <em>Athletic Lockers</em> look great, but they are the easiest way to encourage your young athlete to keep their sports equipment organized.</span>

&nbsp;

<span style="font-weight: 400;">Our <strong>sports lockers</strong> are made with only the strongest materials and our unique design makes our wood lockers very sturdy. They have been designed to be rigid and strong, making it resistant to bumps and shakes, and the hooks will hold all different types of sports gear.</span>

&nbsp;

<span style="font-weight: 400;">Our <a href="http://customsportslockers.com/athletic-lockers/">athletic lockers</a> are built to last. PlayerStall Wood lockers are made from ¾” Birch construction and finished with a moisture resistant urethane coating.Our competitors typically use a thinner wood that is less rigid and of cheaper quality but we don’t cut corners- everything is built using top quality materials and our wood lockers are hand crafted here in North America.</span>

&nbsp;
<h2><span style="font-weight: 400;">Sports Locker Options</span></h2>
&nbsp;

<span style="font-weight: 400;">We have multiple options if you are looking for a sports equipment storage solution. If you are tight on space, our Wall Locker hangs from the wall, saving a ton of space. If you are looking for sports equipment storage, you &nbsp;can check out either our Varsity, Pro or Stadium athletic locker models. Each of these wood lockers has lift up seat compartment to safely and securely store your valuables.</span>

&nbsp;

<span style="font-weight: 400;"><img class="wp-image-541 aligncenter" src="http://customsportslockers.com/wp-content/uploads/2016/03/lineupcustom-300x200.jpg" alt="sports locker lineup" width="261" height="174"></span>

&nbsp;
<h2><span style="font-weight: 400;">Athletic Locker with a 5 Year Warranty</span></h2>
&nbsp;

<span style="font-weight: 400;">We are so sure that we make the toughest sports lockers in the business, that we offer a 5 year warranty on any damage that is sustain to any of our <strong>athletic lockers</strong>. We offer this because we know how tough they are- nobody comes close to offering this kind of guarantee in the business!</span>
<span style="font-weight: 400;">At PlayerStall Sports Lockers, we can help with all your sport equipment storage needs. Please contact us today for more information. Whether you are looking for mudroom lockers, employee lockers, hockey lockers,<a href="http://customsportslockers.com/football-lockers/"> football lockers</a>, or any other type of wood locker, we have you covered!</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports lockers', 'Sports Lockers']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

