---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Organize with Wood Lockers',
  description: 'The Wood Locker to keep your garage more organized   Wood lockers are going to turn your crowded garage into a spacious spot. From paint cans to bikes, the gara',
  category: 'Lockers For Sale',
  datePublished: '2017-11-21',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'wood-lockers-for-the-neat-and-tidy-garage',
  wordCount: 388
};

const content = `<p><strong>The Wood Locker to keep your garage more organized</strong></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;"><em>Wood lockers</em> are going to turn your crowded garage into a spacious spot. From paint cans to bikes, the garage is usually packed so tight that you can’t get another thing in there. Our <em>sports locker</em> will ease you of the clutter and keep your sports equipment organized and ready to go.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I know its hard to decide what to keep and what to turf, so here are some tips to get you started:</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">First, Start by taking everything out of the garage to qualify everything that can stay or go. Once everything is out, you can map out a strategy where to put your wood lockers.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Secondly, Find a spot for your wood lockers. Once you can define the area where the sports equipment will be, you can start figuring out what else can stay.</span></p>
<p>&nbsp;</p>
<p><strong>Decide what to keep ( obviously the wood locker!)</strong></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Garages are infamous for collecting unneeded clutter. A couple things you need to ask yourself are:</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Do I love it?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Could someone use it?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Do I need it?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I think once you have looked at everything you have in your garage, you will be able to categorize them quite easily.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now that you have figured out what to keep, now you need to find a spot for the most important item in your garage: PlayerStall wood lockers. Now you are set to never forget your equipment again. Forget damp, stinky sports equipment- PlayerStall sports lockers will keep you gear dry and ready to go.<img class="wp-image-848 aligncenter" src="http://customsportslockers.com/wp-content/uploads/2017/06/Mudroom-Locker-1-225x300.jpg" alt="wood lockers" width="242" height="323"></span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">PlayerStall has all you need for organizing your equipment. Whether you are looking for a hockey locker, a&nbsp;<a href="http://customsportslockers.com/football-lockers/">football locker</a>, athletic lockers, or any type of sports locker, PlayerStall has you covered. Don’t settle for the cheap lockers out there. PlayerStall wood lockers are built strong at a very reasonable price. Contact us today to let us help you find the perfect<a href="http://customsportslockers.com/mudroom-lockers/"> mudroom lockers</a>. Check out our <a href="http://facebook.com/playerstallsports/">facebook</a> page to see some of the solutions we have to offer.</span></p>

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Lockers For Sale', 'Sports Lockers']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

