---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';

const post = {
  title: 'Wood Lockers help keep your equipment clean',
  description: 'Wood Lockers help kill sports equipment bacteria   Anyone who plays sports can confirm the need to keep your sports equipment clean and disinfected. Most sports',
  category: 'Uncategorized',
  datePublished: '2017-10-07',
  readTime: '5 min read',
  author: 'PlayerStall',
  slug: 'wood-lockers-help-keep-equipment-clean',
  wordCount: 414
};

const content = `<b>Wood Lockers help kill sports equipment bacteria</b>

&nbsp;

<span style="font-weight: 400;">Anyone who plays sports can confirm the need to keep your sports equipment clean and disinfected. Most sports are intense, high contact activities filled with sweat, blood and dirt. To keep you or your young athlete clean and healthy, here are a few tips when it comes to keeping your sports equipment clean, and healthy:</span>

&nbsp;
<ol>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Spray your sports equipment after every use. We have a <a href="http://customsportslockers.com/2017/04/29/athletic-lockers-dont-damage-equipment/">post</a> on how to make your own healthy disinfectant spray at home using common household items free of harsh chemicals. Hang up your equipment in a <strong>sports locker</strong> for ease of drying and spraying. <a href="http://customsportslockers.com/">Wood lockers</a> are a great way to keep your gear organized and dry!</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Soak your equipment. After a few uses, spraying your equipment won’t do the trick. Take your sports equipment from your sports locker and soak it in water and detergent. You can also put some softer equipment in the washing machine on the gentle cycle.</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;"><span style="font-weight: 400;">Get yourself a wood locker. Of course this is the easiest solution to keep your sports equipment dry and organized! If you are looking for sports lockers for sale, PlayerStall has a large lineup of</span></span>

[caption id="attachment_442" align="alignright" width="200"]<img class="size-medium wp-image-442" src="http://customsportslockers.com/wp-content/uploads/2016/03/Semi-LU-1-1-200x300.jpg" alt="wood lockers" width="200" height="300"> Sports Locker[/caption]

<span style="font-weight: 400;">the best wood lockers in the business. If you are looking for mudroom lockers, hockey lockers, football lockers, or any kind of sports locker, we have you covered.</span></li>
</ol>
<span style="font-weight: 400;">At PlayerStall, we can help you with your sports equipment storage solutions with our innovative sports locker designs. Don’t go with the other guy’s <em>cheap lockers</em>- check out PlayerStall if you are looking for lockers for sale. Our wood lockers are built to last and at a price nobody can match in the athletic locker business. We started PlayerStall to offer hockey lockers to young athletes and have expanded over the years to provide<a href="http://customsportslockers.com/football-lockers/"> football lockers</a>, baseball lockers, bedroom lockers, mudroom lockers and any kind of <strong>wood locker</strong> you can think of. If you are looking for lockers for sale, we have them! Check out our <a href="http://www.facebook.com/playerstallsports/">Facebook</a> page to see some of the recent wood locker projects we have done.</span>`;
---

<BlogPostLayout
  title={post.title}
  description={post.description}
  category={post.category}
  datePublished={post.datePublished}
  readTime={post.readTime}
  author={post.author}
  tags={['Sports Lockers', 'Equipment']}
>
  <Fragment set:html={content} />
</BlogPostLayout>

